streamlit==1.36.0
pydantic==2.8.2
PyYAML==6.0.2
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
numpy==1.26.4
scikit-learn==1.5.1
pdfminer.six==20231228
markdown==3.6
requests==2.32.3
python-dateutil==2.9.0.post0
openai==1.37.1
huggingface-hub==0.24.5
python-dotenv==1.0.1
httpx==0.26.0